node_modules/
.env
.idea
.vscode
dist
tmp
*.log
# Скомпилированные JS файлы (тот самый server/index.js)
**/server/index.js
**/*.tsbuildinfo

# Если клиент тоже собирает что-то внутри себя
packages/client/dist/
packages/server/dist/

# Системные файлы
.DS_Store
