@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 231.4, 23.1%, 17.8%;

    --card: 225, 54.5%, 95.7%;
    --card-foreground: 230, 31%, 19%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 231.4, 23.1%, 17.8%;
    --primary-foreground: 0 0% 100%;

    --secondary: 220, 26.6%, 84.5%;
    --secondary-foreground: 220, 17.7%, 47.6%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 222.6, 15.1%, 40.2%;

    --accent: 19, 100%, 51%;
    --accent-foreground: 0, 0%, 100%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 219, 37%, 82%;
    --input: 219, 37%, 82%;
    --ring: 0 0% 3.9%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 235, 26.1%, 9%;
    --foreground: 220, 30.8%, 84.7%;

    --card: 225, 54.5%, 95.7%;
    --card-foreground: 230, 31%, 19%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --secondary: 228, 29.4%, 6.7%;
    --secondary-foreground: 225.5, 26.8%, 24.1%;

    --muted: 0 0% 14.9%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 230, 25%, 23.5%;
    --input: 230, 25%, 23.5%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  h1 {
    @apply text-4xl font-bold mb-6 text-foreground;
  }

  h2 {
    @apply text-3xl font-semibold mb-4 text-foreground;
  }

  p {
    @apply mb-4 leading-relaxed text-muted-foreground;
  }

  a {
    @apply text-foreground hover:text-secondary;
  }
}
